.tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    height:70px;
}

.tags span{
    border-radius: 30px;
    background-color: #388bfd1a;
    padding: 5px 10px;
    font-size: 12px;
    color: #0091FF;
    font-weight: 550;
}