.tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    height:60px;
}

.tags span{
    border-radius: 30px;
    background-color: transparent;
    /* border: 1px solid #009FFA; */
    box-shadow: 0 0 5px #009FFA;
    padding: 5px 10px;
    font-size: 12px;
}