@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

:root {
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    min-width:380px;
    height: 100dvh;
    margin: auto;
    width: 100%;
    max-width: 100%;
}
